<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Remedoc_plus"
        tools:targetApi="31">
        <activity
            android:name=".search_doc5"
            android:exported="false" />
        <activity
            android:name=".search_doc4"
            android:exported="false" />
        <activity
            android:name=".search_doc3"
            android:exported="false" />
        <activity
            android:name=".search_doc2"
            android:exported="false" />
        <activity
            android:name=".search_doc1"
            android:exported="false" />
        <activity
            android:name=".search_docHome"
            android:exported="false" />
        <activity
            android:name=".Book_app2"
            android:exported="false" />
        <activity
            android:name=".Book_app1"
            android:exported="false" />
        <activity
            android:name=".Create_acnt"
            android:exported="false" />
        <activity
            android:name=".Patient_Page"
            android:exported="false" />
        <activity
            android:name=".patient_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>